QWidget{
    background-color: rgb(55, 55, 55);
    color: rgb(200, 200, 200);
}

QLabel{
    color: rgb(235, 235, 235);
    text-align: "center";
}

QLineEdit{
    color: rgb(235, 235, 235);
    border: 1 solid rgb(50, 50, 50);
    background-color: rgb(75, 75, 75);
    selection-background-color: rgb(125, 125, 125);
    height: 22;
}

QLineEdit:focus{
    border: 1 solid rgb(255, 175, 0);
}

QLineEdit:hover{
    border: 1 solid rgb(255, 175, 0);
}

QPushButton{
    font-size: 12px;
    height: 26;
    color: rgb(235, 235, 235);
    border: 1 solid rgb(50, 50, 50);
    background-color: rgb(75, 75, 75);
    selection-background-color: rgb(125, 125, 125);
}

QPushButton:hover{
    height: 34;
    border-color: rgb(255, 175, 0);
}

QCheckBox{
    font-size: 12px;
    color: rgb(235, 235, 235);
    background-color: rgb(75, 75, 75);
    selection-background-color: rgb(255, 175, 0);
}